<groupui-card>
  <div id="headline">
    <groupui-icon name="user-manual-24"></groupui-icon>
    <groupui-headline heading="h4">Control Value Accessor Template
    </groupui-headline>
  </div>
  <div id="input-wrapper">
    <app-cva-input [(ngModel)]="text" label="Editable input"
                   description="Showcases two-way binding over ngModel"></app-cva-input>
    <app-cva-input [(ngModel)]="text" disabled label="Disabled input"
                   description="Showcases disabled binding"></app-cva-input>
  </div>
  <groupui-text><b>Model value:</b> {{text}}</groupui-text>
</groupui-card>
